body {
  background-color: whitesmoke;
}

.c {
  background-color: black; border: 2px solid black; border-radius: 5px; padding: 20px;
}

.mb-4 {
  color: aliceblue;
}

.form-label {
  color:white;
}

.item {
  margin-right: 20px;
}

